/node_modules
/public/storage
/storage/*.key
/vendor
/.idea
/public/resi
/public/posts
/public/products
/public/users
/public/emoji
/public/promo
/public/logo
/public/photos
Homestead.json
Homestead.yaml
.env
