/*Global Sticky*/
.sticky {
	color: green;
}
.sticky a {
	color: green;
	font-weight: bold;
}
.sticky a:hover {
	text-decoration: none;
	color: lightgreen;
}
/*End Global Sticky*/

/*Articles thumb*/
.frame-new-articles {
	height: 25vh;
	white-space: nowrap;
	text-align: center;
	z-index: 2;
}
.frame-new-articles:hover > .articles-thumb {
	transform: scale(1.1);
}
.frame-new-articles-helper {
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}
.articles-thumb {
	vertical-align: middle;
	transition: transform 1s;
	height: 90%;
	max-width: 100%;
}
/*End Articles thumb*/

/*Articles Index Content*/
.articles div {
	height: 25vh;
	margin-bottom: 20px;
	border-bottom: 1px solid grey;
}
.articles-title a {
	font-weight: bold;
	color: black;
}
.articles-title a:hover {
	color: grey;
	text-decoration: none;
}
.articles-author a {
	color: black;
}
.articles-author a:hover {
	color: grey;
	text-decoration: none;	
}
/*End Articles Index Content*/

/*Article Show*/
.article-show {

}
.title-art-show {
	font-weight: bold;
}
.img-art-show img {
	height: 30vh;
	max-width: 100%;
	margin-bottom: 20px;
}
.tag-art-show {
	margin-top: 10px; margin-bottom: 10px;
}
.tag-art-show a {
	color: black;
}
.tag-art-show a:hover {
	text-decoration: none;
	color: grey;
}
.desc-art-show img {
	max-width: 100%;
	height: auto;
}
.desc-art-show iframe {
	max-width: 100%;
}
/*End Article Show*/

/*Article Tags*/
.article-tags {
	font-weight: bold;
}
.article-tags a {
	color: black;
}
.article-tags a:hover {
	color: grey;
	text-decoration: none;
}
/*EndArticle Tags*/

/*Article Comment*/
.article-comment-show {
	border-left: 5px solid grey;
	padding-left: 10px;
}
.article-comment-user .author {
	color: black;
}
.article-comment-user .author:hover {
	color: grey;
	text-decoration: none;
}
.article-comment-body .title {
	color: black;
	font-weight: bold;
}
.article-comment-body .title:hover {
	color: grey;
	text-decoration: none;
}
/*End Article Comment*/

/*End Articles Recent Comment thumb*/
.recent-articles div {
	height: 15vh;
	border-bottom: 1px solid grey;
	overflow: hidden;
	margin-bottom: 10px;
}
.frame-recent-articles {
	height: 15vh;
	white-space: nowrap;
	text-align: center;
	z-index: 2;
}
.frame-recent-articles:hover > .recent-thumb {
	transform: scale(1.1);
}
.frame-recent-articles-helper {
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}
.recent-thumb {
	vertical-align: middle;
	transition: transform 1s;
	height: 85%;
	max-width: 100%;
}
.recent-articles-title {
	height: 3em;
	overflow: hidden;
}
.recent-articles-title a {
	height: 1.5em;
	font-weight: bold;
	color: black;
}
.recent-articles-comment {
	height: 1.5em;
	overflow: hidden;
}
.recent-articles-title a:hover {
	color: grey;
	text-decoration: none;
}
.recent-articles-author {
	height: 1.5em;
	overflow: hidden;
}
.recent-articles-author a {
	color: black;
}
.recent-articles-author a:hover {
	color: grey;
	text-decoration: none;	
}
/*End Articles Recent Comment thumb*/