.td-logo-tag a {
	color: black;
}
.td-logo-tag a:hover {
	color: grey;
	text-decoration: none;
}
.td-logo {
	width: 200px;
	height: 100px;
}
.logo-img {
	text-align: center;
	width: 100%;
}
.td-dashboard span {
	float: left;
	margin-right: 10px;
}
