.td-logo-tag a {
	color: black;
}
.td-logo-tag a:hover {
	color: grey;
	text-decoration: none;
}
.td-logo {
	width: 200px;
	height: 100px;
}
.logo-img {
	text-align: center;
	width: 100%;
}
.td-dashboard span {
	float: left;
	margin-right: 10px;
}
.frame-admin-art {
	width: 150px;
	height: 150px;
}
.frame-admin-art img {
	width: auto;
	max-width: 100%;
	height: auto;
}
.frame-admin-prod {
	width: 150px; height: 150px;
}
.frame-admin-prod img {
	width: auto;
	max-width: 100%;
	height: auto;
}
.dashBtn {
	position: fixed; left: 0; height: 100px; line-height: 85px; padding-right: 5px; left: -10px; z-index: 2; border-radius: 10px;
}
.panel-default .panel-body h5 {
	font-weight: bold;
}