#frame-product-img-edit {
    overflow: auto;
    white-space:nowrap;
}
#frame-product-img-edit .frame-product-img-in {
	display: inline-block;
}
/*Admin Products*/
.td-admin-img-products {
	width: 150px;
	min-width: 150px;
	max-width: 150px;
	height: 150px;
	max-height: 150px;
	background-color: lightgrey;
}
.td-admin-img-products .frame-product-thumb .frame-product-img-helper {
	vertical-align: middle;
	text-align: center;
}
.td-admin-img-products .carousel-thumb-generic .product-thumb {
	vertical-align: middle;
	text-align: center;
	height: auto;
	width: auto;
	max-width: 150px;
	max-height: 150px;
}
/*End admin products*/
.td-logo-tag a {
	color: black;
}
.td-logo-tag a:hover {
	color: grey;
	text-decoration: none;
}
.td-logo {
	width: 200px;
	height: 100px;
}
.logo-img {
	text-align: center;
	width: 100px;
}
.td-dashboard span {
	float: left;
	margin-right: 10px;
}
/*Admin Post*/
.td-admin-img-posts {
	width: 150px;
	min-width: 150px;
	max-width: 150px;
	height: 150px;
	max-height: 150px;
	background-color: lightgrey;
}
.admin-frame-posts .frame-posts-img-helper {
	vertical-align: middle;
	text-align: center;
}
.admin-posts-thumb-img {
	height: auto;
	width: auto;
	max-width: 100%;
	max-height: 100%;
}
/*End admin post*/
.dashBtn {
	position: fixed; left: 0; height: 100px; line-height: 85px; padding-right: 5px; left: -10px; z-index: 2; border-radius: 10px;
}
.panel-default .panel-body h5 {
	font-weight: bold;
}
.panel-dashboard {
	background-color: rgba(0,0,0,0.7);
}
.panel-dashboard {
	color: white;
}
.panel-left {
	width: 40%;
	float: left;
}
.panel-dashboard .panel-left > i {
	background-color: unset;
	color: white;
}
.close span {
	color: white;
}
.activate-tabel td {
	padding-right: 50px;
}