#webName {
	color: purple;
	text-align: left;
	font-family: "Tangerine";
}
td {
	font-size: 15px;
	padding:5px 5px;
}
th {
	font-size: 16px;
}
#sub-price td {
	padding-top: 7px;
	padding-bottom: 7px;
	background-color: rgba(224, 224, 224, 0.5);
}