/*Global Sticky*/
.sticky {
	color: green;
	height: 5em;
}
.sticky a {
	height: 1.5em;
	color: green;
	font-weight: bold;
}
.sticky a:hover {
	text-decoration: none;
	color: lightgreen;
}
/*End Global Sticky*/

/*posts thumb*/
.frame-new-posts {
	height: 20vh;
	white-space: nowrap;
	text-align: center;
	z-index: 2;
	overflow: hidden;
	border: 0.5px solid lightgrey;
}
.frame-new-posts-content {
	height: 20vh;
}
.frame-new-posts:hover > .posts-thumb-img {
	transform: scale(1.1);
}
.frame-new-posts-helper {
	display: inline-block;
	vertical-align: middle;
	height: 100%;
}
.posts-thumb-img {
	padding-right: 7px;
	vertical-align: middle;
	transition: transform 1s;
	width: 100%;
	height: auto;
}
/*End posts thumb*/

/*posts Index Content*/
.posts {
	padding-top: 10px;
	margin-bottom: 10px;
	border-bottom: 1px solid grey;
}
.posts-title {
	height: 5em;
	overflow: hidden;
}
.posts-title a {
	height: 1.5em;
	font-weight: bold;
	color: black;
}
.posts-title a:hover {
	color: grey;
	text-decoration: none;
}
.posts-author {
	height: 3.5em;
}
.posts-author a {
	color: black;
	height: 1.7em;
}
.posts-author a:hover {
	color: grey;
	text-decoration: none;	
}
/*End posts Index Content*/

/*post Show*/
.post-show {

}
.title-art-show {
	font-weight: bold;
}
.img-art-show img {
	height: 30vh;
	max-width: 100%;
	margin-bottom: 20px;
}
.tag-art-show {
	margin-top: 10px; margin-bottom: 10px;
}
.tag-art-show a {
	color: black;
}
.tag-art-show a:hover {
	text-decoration: none;
	color: grey;
}
.desc-art-show img {
	max-width: 100%;
	height: auto;
}
.desc-art-show iframe {
	max-width: 100%;
}
/*End post Show*/

/*post Tags*/
.post-tags {
	font-weight: bold;
}
.post-tags a {
	color: black;
}
.post-tags a:hover {
	color: grey;
	text-decoration: none;
}
/*Endpost Tags*/

/*post Comment*/
.post-comment-show {
	border-left: 5px solid grey;
	padding-left: 10px;
}
.post-comment-user .author {
	color: black;
}
.post-comment-user .author:hover {
	color: grey;
	text-decoration: none;
}
.post-comment-body .title {
	color: black;
	font-weight: bold;
}
.post-comment-body .title:hover {
	color: grey;
	text-decoration: none;
}
/*End post Comment*/

/*End posts Recent Comment thumb*/
.recent-posts {
	padding-top: 10px;
	padding-bottom: 5px;
	margin-bottom: 10px;
	border-bottom: 1px solid grey;
}
.frame-recent-posts {
	height: 3.5em;
	white-space: nowrap;
	text-align: center;
	z-index: 2;
	overflow: hidden;
	border: 0.5px solid lightgrey;
}
.frame-recent-posts-content {
	height: 3.5em;
}
.frame-recent-posts:hover > .recent-thumb-img {
	transform: scale(1.1);
}
.frame-recent-posts-helper {
	display: inline-block;
	vertical-align: middle;
	height: 100%;
}
.recent-thumb-img {
	padding-right: 7px;
	vertical-align: middle;
	transition: transform 1s;
	width: 100%;
	height: auto;
}
.recent-posts-title {
	height: 3em;
	overflow: hidden;
}
.recent-posts-title a {
	height: 1.5em;
	font-weight: bold;
	color: black;
}
.recent-posts-title a:hover {
	color: grey;
	text-decoration: none;
}
/*End posts Recent Comment thumb*/