/*Login adn Register Blade*/
.social-login .fab {
	padding: 10px 10px;
}
/*End Social Admin*/
/*Admin Share*/
.share p > i {
  width: 80%;
}
td > i {
  width: 100%; /*Admin + Follow*/
}
/*Admin Share*/
/*Admin Follow*/
.followAdmin p > i {
  width: 80%;
}
/*End Admin Follow*/
/*Global Social Media*/
.fas, .fab {
  padding: 10px 10px;
}
.fa-facebook {
  background: #3B5998; color: white;
}
.fa-twitter {
  background: #55ACEE; color: white;
}
.fa-google {
  background: #dd4b39; color: white;
}
.fa-pinterest {
  background: #bd081c; color: white;
}
.fa-linkedin {
  background: #0077B5; color: white;
}
.fa-whatsapp {
  background: #25D366; color: white;
}
.fa-whatsapp {
  background: #25D366; color: white;
}
.fa-instagram {
  background: #e4405f; color: white;
}
.fa-envelope {
  background: lightgrey; color: black;
}
.fa-youtube {
  background: #cd201f; color: white;
}
.fa-weixin {
  background: #09b83e; color: white;
}
.fa-line {
  background: #00c300; color: white;
}
.fa-linkedIn {
  background: #0077B5; color: white;
}
.fa-blackberry {
	background: black; color: white;
}