.auth .fa-facebook {
	background-color: #3b5999;
	padding: 10px 10px;
	color: white;
}
.auth .fa-facebook:hover {
	background-color: #34465d;
}
.auth .fa-twitter {
	background-color: #55acee;
	padding: 10px 10px;
	color: white;
}
.auth .fa-twitter:hover {
	background-color: #34465d;
}
.auth .fa-google {
	background-color: #dd4b39;
	padding: 10px 10px;
	color: white;
}
.auth .fa-google:hover {
	background-color: #34465d;
}
